<div class="row">
    {{#each notes}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    <!--Link que te redirige para editar una nota-->
                    {{title}} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                </h4>
                <p>{{descripcion}}</p>
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                 <input type="hidden" name="_method" value="DELETE">
                 <button class="btn btn-danger btn-block btn-sm" TYPE="submit">
                    Eliminar
                </button>
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <h1>Hola {{user.name}} </h1>
           <p class="lead">No hay ninguna nota creada</p> 
           <a href="/notes/agregar" class="btn btn-success btn-block">Crea una nota</a>
        </div>
    </div>
    {{/each}}
</div>